<div class="container">
   <mat-toolbar>
       <span class="fill-remaining-space"></span>
       <span>Angular8Material</span>
       <span class="fill-remaining-space"></span>
       <div class="button-row">
       <button mat-raised-button color="warn" class="buttonM" routerLink="/"> Add user</button> 
       <button mat-raised-button color="primary" class="buttonM" routerLink="/afficher"> List Users</button>
       </div>
       <!--  <button mat-raised-button color="accent" class="buttonM" routerLink="/">Delete Users</button>-->
       <!--  <button mat-raised-button color="primary" class="buttonM" routerLink="/">Update Users</button>-->
   </mat-toolbar>
   <router-outlet></router-outlet>
   <!--    <app-user></app-user>-->
</div>